[user]
	name = Jona Löffler
	email =
[credential]
	helper = cache
[pull]
	rebase = true
[core]
	excludesFile = ~/.config/git/.gitignore
[push]
	autoSetupRemote = 1
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com
[url "git@github.com:"]
	insteadOf = https://github.com
